.material-icons {
  fill: var(--accent-color);
}
.team {
  margin-top: -1.5rem;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.team-list__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  min-width: 25%;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.team-list__title {
  margin: 5px 0;
  color: black;
  text-shadow: 2px 2px grey;
  font-size: 1.7rem;
}

.team-list__item p {
  font-size: 1rem;
}

.logo-github {
  position: absolute;
  top: 5px;
  left: calc(50% - 80px);
  height: 30px;
  width: 30px;
  transition: 1s;
}

.logo-github:hover {
  filter: drop-shadow(0 0 0.5rem var(--accent-color));
  color: var(--accent-color);
  transform: rotateZ(360deg) scale(2);
}

.team-list__photo {
  border-radius: 60px 16px 16px;
}

.borders {
  width: 80vw;
  position: relative;
  height: 80vh;
  margin: 0 auto;
  display: block;
}
.borders line {
  stroke-width: 2px;
  stroke: var(--accent-color);
}
.borders #svg_2 {
  stroke-dasharray: 2560;
  stroke-dashoffset: 2560;
}
.borders #svg_3 {
  stroke-dasharray: 2560;
  stroke-dashoffset: -80vw;
}
.borders #svg_4 {
  stroke-dasharray: 2560;
  stroke-dashoffset: -80vh;
}
.borders #svg_5 {
  stroke-dasharray: 2560;
  stroke-dashoffset: -80vh;
}
@keyframes anim-dash {
  90% {
    stroke: var(--accent-color);
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -999;
}
.modal {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 46%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.modal-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
  top: 0;
  left: 0px;
  border-radius: 34px;
  padding: 17px;
  width: 80vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  overflow: auto;
}
.modal-close {
  float: right;
  z-index: +2;
  color: #424242;
  margin: 5px 5px 0 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 20px;
  position: sticky;
  left: 98%;
  top: 7px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.modal-close:hover {
  transition: 0.7s;
  transform: scale(1.5);
}

.overlay:target .modal,
.overlay:target {
  animation: display 0.6s forwards;
  z-index: 100;
}
.overlay:target .modal svg line {
  animation: anim-dash 0.6s forwards;
  animation-delay: 0.6s;
}
.overlay:target .modal .modal-inner {
  animation: display 0.6s forwards;
  animation-delay: 1s;
}
@keyframes display {
  to {
    opacity: 1;
  }
}

a.modal-open {
  color: var(--accent-color);
  pointer-events: all;
  cursor: pointer;
  transition: 0.7s;
}
a.modal-open .material-icons {
  transition: 0.7s;
}

a.modal-open:hover {
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
}
a.modal-open:hover .material-icons {
  transform: rotateY(360deg);
}

a.modal-open .material-icons {
  transition: 0.7s;
}

a.modal-open:hover {
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.about-us:hover .material-icons {
  transform: rotateY(360deg);
}

.change-language:hover .material-icons {
  transform: rotateY(360deg);
}

.menu-btn-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 16px;
  left: 16px;
}

.modal-inner::-webkit-scrollbar {
  width: 0px;
}

.group_name {
  text-align: center;
  text-shadow: 1px 1px #000;
  margin-bottom: 0.4rem;
  margin-top: -1.5rem;
  font-size: 2rem;
}
.others {
  border-top: 1px solid #000;
  font-size: 0.8rem;
  padding: 20px 10px 10px 10px;
  text-align: center;
}
