<footer class="page-footer">
  <div class="container page-footer__container">
    <div class="container-tablet-wrapper">
      <div class="address">
        <a class="footer-logo" id="logo" href="/src/index.html">News </a>
      </div>

      <div class="cta">
        <ul class="cta__list">
          <li class="cta__item">
            <a
              href="https://www.instagram.com/nytmag/"
              target="_blank"
              class="cta__link"
            >
              <svg class="cta__icon" width="20px" height="20px">
                <use href="/src/images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="cta__item">
            <a
              href="https://ru-ru.facebook.com/nytimes/"
              target="_blank"
              class="cta__link"
            >
              <svg class="cta__icon" width="20px" height="20px">
                <use href="/src/images/sprite.svg#facebooks"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-box">
      <div class="top-box">
        <p class="top-box__sumb">&#169;</p>
        <p class="top-box__text">2023</p>
        <p class="top-box__text">All Rights Reserved</p>
      </div>
      <div class="bottom-box">
        <p class="bottom-box__text">Developed by 16th group of GoIt students</p>
        <p class="bottom-box__text">
          Thanks for
          <a
            href="https://developer.nytimes.com/docs/timeswire-product/1/overview"
            class="bottom-box__link"
            target="_blank"
            >API</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
