  <footer class="page-footer">
    <div class="container page-footer__container">
         <div class="container-tablet-wrapper">
             <div class="address">
              <a class="footer-logo" id="logo" href="/src/index.html">News </a>
            
             </div>

    <div class="cta">
      
      <ul class="cta__list">
          <li class="cta__item">
              <a href="#" class="cta__link">
                  <svg class="cta__icon" width="20px" height="20px">
                      <use href="/src/images/sprite.svg#instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="cta__item">
              <a href="#" class="cta__link">
                  <svg class="cta__icon" width="20px" height="20px">
                      <use href="/src/images/sprite.svg#facebooks"></use>
                  </svg>
              </a>
          </li>
          
      </ul>
  </div>
</div>

  </div>
</footer>
