<footer class="page-footer">
  <div class="container page-footer__container">
    <div class="container-tablet-wrapper">
      <div class="address">
        <a class="footer-logo" id="logo" href="/src/index.html">News </a>
      </div>

      <div class="cta">
        <ul class="cta__list">
          <li class="cta__item">
            <a
              href="#aboutUs"
              title="About us"
              class="modal-open about-us cta__link"
            >
              <span class="material-icons">
                <svg class="cta__icon" width="20px" height="20px">
                  <use href="/src/images/sprite.svg#icon-group-of-people"></use>
                </svg>
              </span>
            </a>
            <div class="overlay" id="aboutUs">
              <div class="modal container">
                <svg
                  class="borders"
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                >
                  <line
                    id="svg_3"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    x1="2.0"
                    y1="2.0"
                    x2="80vw"
                    y2="2.0"
                  />

                  <line
                    id="svg_4"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    x1="80vw"
                    y1="80vh"
                    x2="80vw"
                    y2="2.0"
                  />

                  <line
                    id="svg_2"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    x1="2.0"
                    y1="80vh"
                    x2="80vw"
                    y2="80vh"
                  />

                  <line
                    id="svg_5"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    x1="2.0"
                    y1="2.0"
                    x2="2.0"
                    y2="80vh"
                  />
                </svg>
                <div class="modal-inner">
                  <a href="#" class="modal-close" title="Close Modal"
                    ><span class="close">&times;</span>
                  </a>
                  <h1 class="group_name">OUR GROUP NUMBER 16</h1>

                  <div class="team">
                    <ul class="team-list">
                      <li class="team-list__item">
                        <img
                          class="team-list__photo"
                          src="https://ca.slack-edge.com/T03HFSPVCDP-U03HJMQ58U9-30b9b8ff8302-512"
                          width="152"
                          alt="Team member - Oleg"
                        />
                        <h3 class="team-list__title">OLEG</h3>
                        <p class="team-list__description">developer</p>
                        <a
                          href="https://github.com/oleg-torba"
                          target="_blank"
                          aria-label="Our Github"
                        >
                          <img
                            class="logo-github"
                            src="./images/logo-github.svg"
                            alt="Logo Github"
                            width="25"
                          />
                        </a>
                      </li>
                      <li class="team-list__item">
                        <img
                          class="team-list__photo"
                          src="./images/IMG_6590.jpg"
                          width="152"
                          alt="Team member - Nastia"
                        />
                        <h3 class="team-list__title">NASTIA</h3>
                        <p class="team-list__description">scrum master</p>
                        <a
                          href="https://github.com/Anastasia-front"
                          target="_blank"
                          aria-label="Our Github"
                        >
                          <img
                            class="logo-github"
                            src="./images/logo-github.svg"
                            alt="Logo Github"
                            width="25"
                          />
                        </a>
                      </li>

                      <li class="team-list__item">
                        <img
                          class="team-list__photo"
                          src="./images/Foto.jpg"
                          width="152"
                          alt="Team member - Yehor"
                        />
                        <h3 class="team-list__title">Yehor</h3>
                        <p class="team-list__description">developer</p>
                        <a
                          href="https://github.com/Yehorborovenskyi"
                          target="_blank"
                          aria-label="Our Github"
                        >
                          <img
                            class="logo-github"
                            src="./images/logo-github.svg"
                            alt="Logo Github"
                            width="25"
                          />
                        </a>
                      </li>
                    </ul>
                    <div class="others">
                      <p>
                        Other team members also worked on the project (Max
                        Fedechko - team leader, Maria Orlova - developer, Yulia
                        Odnoko - developer, Andrey - developer), but the main
                        contribution was made by three people with photos, who,
                        after the end of the project, completed the work and
                        improved the site on their own initiative apart from
                        others.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cta__item">
            <a
              href="https://www.instagram.com/nytmag/"
              target="_blank"
              class="cta__link"
            >
              <svg class="cta__icon" width="20px" height="20px">
                <use href="/src/images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="cta__item">
            <a
              href="https://ru-ru.facebook.com/nytimes/"
              target="_blank"
              class="cta__link"
            >
              <svg class="cta__icon" width="20px" height="20px">
                <use href="/src/images/sprite.svg#facebooks"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-box">
      <div class="top-box">
        <p class="top-box__sumb">&#169;</p>
        <p class="top-box__text">2023</p>
        <p class="top-box__text">All Rights Reserved</p>
      </div>
      <div class="bottom-box">
        <p class="bottom-box__text">Developed by 16th group of GoIt students</p>
        <p class="bottom-box__text">
          Thanks for
          <a
            href="https://developer.nytimes.com/docs/timeswire-product/1/overview"
            class="bottom-box__link"
            target="_blank"
            >API</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
